@import "./settings.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: $color-light;
  overflow-x: hidden;
  background: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
